---
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
import Calendar from "../sections/Calendar.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <div class="scroll-wrapper-2">
    <section
      class="hero relative w-full h-dvh grid p-5 transition duration-1000"
    >
      <Hero />
    </section>
    <section
      class="calendar container md:h-full grid grid-cols-7 gap-5 transition"
    >
      <Calendar />
    </section>
  </div>
  <Video />
</Layout>
