---
import Video from "../components/Video.astro";
import Layout from "../layouts/Layout.astro";
import Calendar from "../sections/Calendar.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="Advent 2024 | IMMUNE Technology Institute">
  <div class="scroll-wrapper">
    <section
      class="hero relative w-full h-dvh grid p-5 transition duration-1000"
    >
      <Hero />
    </section>
    <section
      id="calendar"
      class="calendar container md:h-full grid grid-cols-7 gap-5 transition"
    >
      <Calendar />
    </section>
    <button
      id="close"
      class="fixed top-10 right-10 text-blue-950 z-50 -translate-y-20 transition duration-1000 delay-500"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="40"
        height="40"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-square-rounded-x"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M10 10l4 4m0 -4l-4 4"></path><path
          d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"
        ></path></svg
      >
    </button>
  </div>
  <Video />
</Layout>
