<div
  data-day="5"
  class="col-span-2 row-span-2 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <span>5</span>

  <svg
    width="228"
    height="228"
    viewBox="0 0 228 228"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-bg absolute -z-10 top-0 left-0 w-full h-full object-cover opacity-25 p-2 transition"
  >
    <path
      d="M143.59 90.82L156.79 77.82H194.63L208.68 100.79L226.04 72.38L208.68 55.02L195.31 68.39H152.91L142.77 78.39L139.65 66.49L153.84 52.3L176.25 58.19L192.79 41.65C194.63 39.81 194.63 36.81 192.79 34.97C190.95 33.13 187.95 33.13 186.11 34.97L173.42 47.66L151.02 41.8L129.15 63.67L135.04 86.08L126.63 94.49L118.61 86.47V76.56L118.75 58.04L145.52 31.27L171.69 37.59L163.87 5.24001H139.31V24.13L109.31 54.13L109.2 68.38L98.58 62.18V42.1L118.58 30.43V7.01001C118.58 4.40001 116.46 2.28001 113.85 2.28001C111.24 2.28001 109.12 4.40001 109.12 7.01001V24.97L89.12 36.64V67.57L109.12 79.24V86.46L101.13 94.48L90.82 84.17L77.82 70.97V33.13L100.79 19.08L72.38 1.71001L55.02 19.07L68.39 32.44V74.84L78.39 84.98L66.49 88.1L52.3 73.91L58.19 51.5L41.65 34.96C39.81 33.12 36.81 33.12 34.97 34.96C33.13 36.8 33.13 39.8 34.97 41.64L47.66 54.33L41.77 76.74L63.64 98.61L86.05 92.72L94.46 101.13L86.44 109.15H76.55L58.03 109.01L31.26 82.24L37.58 56.07L5.23 63.89V88.45H24.12L54.12 118.45L68.37 118.56L62.17 129.18H42.09L30.42 109.18H7.01C4.4 109.18 2.28 111.3 2.28 113.91C2.28 116.52 4.4 118.64 7.01 118.64H24.97L36.64 138.64H67.54L79.21 118.64H86.43L94.45 126.66L84.14 136.97L70.94 149.97H33.13L19.08 127L1.71 155.37L19.07 172.73L32.44 159.36H74.84L84.98 149.36L88.1 161.26L73.91 175.45L51.5 169.56L34.96 186.1C33.12 187.94 33.12 190.94 34.96 192.78C35.89 193.71 37.08 194.17 38.3 194.17C39.52 194.17 40.71 193.72 41.64 192.78L54.33 180.09L76.74 185.98L98.61 164.11L92.72 141.7L101.13 133.26L109.15 141.28V151.19L109.01 169.71L82.24 196.48L56.1 190.13L63.92 222.51H88.48V203.62L118.48 173.62L118.59 159.37L129.21 165.57V185.65L109.21 197.32V220.72C109.21 223.33 111.33 225.45 113.94 225.45C116.55 225.45 118.67 223.33 118.67 220.72V202.76L138.67 191.09V160.16L118.67 148.49V141.27L126.63 133.25L136.94 143.56L149.94 156.76V194.6L126.97 208.65L155.38 226.01L172.74 208.65L159.37 195.28V152.88L149.37 142.74L161.27 139.62L175.46 153.81L169.57 176.22L186.11 192.76C187.04 193.69 188.23 194.15 189.45 194.15C190.67 194.15 191.86 193.7 192.79 192.76C194.63 190.92 194.63 187.92 192.79 186.08L180.1 173.39L185.99 150.98L164.12 129.11L141.72 135L133.31 126.59L141.33 118.57H151.22L169.74 118.71L196.51 145.48L190.19 171.65L222.54 163.83V139.27H203.65L173.65 109.27L159.4 109.16L165.6 98.54H185.68L197.35 118.54H220.75C223.36 118.54 225.48 116.42 225.48 113.81C225.48 111.2 223.36 109.08 220.75 109.08H202.79L191.12 89.08H160.19L148.52 109.08H141.3L133.28 101.06L143.59 90.78V90.82ZM208.68 68.39L214.12 73.83L208.68 82.72L203.24 73.83L208.68 68.39ZM148.74 14.66H156.44L158.88 24.8L148.74 22.36V14.66ZM73.82 13.64L82.71 19.08L73.82 24.52L68.38 19.08L73.82 13.64ZM14.65 71.33L24.79 68.89L22.35 79.03H14.65V71.33ZM19.07 159.36L13.63 153.92L19.07 145.03L24.51 153.92L19.07 159.36ZM79.01 213.09H71.31L68.87 202.95L79.01 205.39V213.09ZM153.93 214.11L145.04 208.67L153.93 203.23L159.37 208.67L153.93 214.11ZM213.1 156.41L202.96 158.85L205.4 148.71H213.1V156.41ZM123.28 123.27L113.88 132.65L104.48 123.25L95.08 113.85L113.86 95.07L132.64 113.85L123.29 123.28L123.28 123.27Z"
      stroke="white"
      stroke-width="1.91"
      stroke-miterlimit="10"></path>
  </svg>
</div>
