<div
  data-day="18"
  class="row-span-2 flex-col relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <svg
    width="62"
    height="62"
    viewBox="0 0 62 62"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon mb-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <g clip-path="url(#clip0_1_29)">
      <path
        d="M28.44 19.86C29.26 19.67 30.11 19.55 30.99 19.55C31.87 19.55 32.71 19.67 33.53 19.85L38.94 6.78001L33.82 1.66001C32.26 0.100006 29.7 0.100006 28.14 1.66001L23.02 6.78001L28.43 19.85L28.44 19.86ZM30.99 5.58001L34.16 8.76001L30.99 11.93L27.81 8.76001L30.99 5.58001Z"
        fill="white"></path>
      <path
        d="M37.04 21.33C38.49 22.25 39.72 23.47 40.63 24.92L53.71 19.5V12.26C53.71 10.05 51.9 8.24001 49.69 8.24001H42.46L37.04 21.32V21.33ZM46.22 13.21C47.62 13.21 48.76 14.35 48.76 15.75C48.76 17.15 47.62 18.29 46.22 18.29C44.82 18.29 43.68 17.15 43.68 15.75C43.68 14.35 44.82 13.21 46.22 13.21Z"
        fill="white"></path>
      <path
        d="M19.86 33.53C19.67 32.71 19.55 31.86 19.55 30.98C19.55 30.1 19.67 29.25 19.86 28.43L6.79 23.02L1.67 28.14C0.11 29.7 0.11 32.26 1.67 33.82L6.79 38.94L19.86 33.53ZM8.76 27.81L11.93 30.99L8.76 34.16L5.59 30.99L8.76 27.81Z"
        fill="white"></path>
      <path
        d="M21.33 24.92C22.25 23.47 23.47 22.24 24.92 21.33L19.5 8.25H12.26C10.05 8.25 8.23999 10.06 8.23999 12.27V19.51L21.32 24.93L21.33 24.92ZM15.74 13.2C17.15 13.2 18.28 14.34 18.28 15.74C18.28 17.14 17.14 18.28 15.74 18.28C14.34 18.28 13.2 17.14 13.2 15.74C13.2 14.34 14.34 13.2 15.74 13.2Z"
        fill="white"></path>
      <path
        d="M40.64 37.05C39.73 38.51 38.5 39.73 37.05 40.64L42.47 53.72H49.7C51.91 53.72 53.72 51.91 53.72 49.7V42.46L40.64 37.04V37.05ZM46.22 48.77C44.82 48.77 43.68 47.63 43.68 46.23C43.68 44.83 44.82 43.69 46.22 43.69C47.62 43.69 48.77 44.83 48.77 46.23C48.77 47.64 47.63 48.77 46.22 48.77Z"
        fill="white"></path>
      <path
        d="M60.29 28.14L55.17 23.02L42.1 28.43C42.29 29.25 42.41 30.1 42.41 30.98C42.41 31.86 42.29 32.7 42.1 33.53L55.17 38.94L60.29 33.82C61.85 32.26 61.85 29.7 60.29 28.14ZM53.21 34.16L50.03 30.99L53.21 27.81L56.38 30.99L53.21 34.16Z"
        fill="white"></path>
      <path
        d="M24.92 40.64C23.47 39.72 22.24 38.5 21.33 37.05L8.25 42.47V49.7C8.25 51.91 10.06 53.72 12.27 53.72H19.51L24.93 40.65L24.92 40.64ZM15.74 48.76C14.34 48.76 13.2 47.62 13.2 46.22C13.2 44.82 14.34 43.68 15.74 43.68C17.14 43.68 18.28 44.82 18.28 46.22C18.28 47.62 17.14 48.76 15.74 48.76Z"
        fill="white"></path>
      <path
        d="M33.53 42.11C32.71 42.3 31.86 42.42 30.98 42.42C30.1 42.42 29.25 42.3 28.43 42.11L23.02 55.18L28.14 60.3C29.7 61.86 32.26 61.86 33.82 60.3L38.94 55.19L33.53 42.12V42.11ZM30.98 56.39L27.8 53.22L30.98 50.04L34.15 53.22L30.98 56.39Z"
        fill="white"></path>
      <path
        d="M37.33 30.98C37.33 34.49 34.49 37.33 30.98 37.33C27.47 37.33 24.63 34.49 24.63 30.98C24.63 27.47 27.48 24.63 30.98 24.63C34.48 24.63 37.33 27.47 37.33 30.98Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_1_29">
        <rect width="62" height="62" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <span>18</span>
</div>
