<div
  data-day="9"
  class="col-start-5 row-start-2 row-span-2 flex-col relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <svg
    width="65"
    height="65"
    viewBox="0 0 65 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon mb-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <g clip-path="url(#clip0_1_46)">
      <path
        d="M32.68 36.7C34.9002 36.7 36.7 34.9002 36.7 32.68C36.7 30.4598 34.9002 28.66 32.68 28.66C30.4598 28.66 28.66 30.4598 28.66 32.68C28.66 34.9002 30.4598 36.7 32.68 36.7Z"
        fill="white"></path>
      <path
        d="M35.36 12.76L42.07 9.89L43.65 13.59L35.36 17.14V23.73C36.2 23.98 37 24.32 37.72 24.79L44.52 17.99L47.37 20.83L40.57 27.64C41.03 28.36 41.37 29.16 41.63 30H48.23L51.78 21.71L55.48 23.29L52.61 29.99H60.86C61.06 29.16 61.34 28.37 61.73 27.7L64.19 23.41C65.75 20.68 64.55 17.77 61.51 16.94L56.75 15.64C53.71 14.81 50.55 11.65 49.71 8.62L48.41 3.86C47.58 0.830001 44.67 -0.379999 41.94 1.18L37.66 3.63C36.99 4.02 36.21 4.3 35.38 4.5V12.76H35.36Z"
        fill="white"></path>
      <path
        d="M3.63 27.71C4.02 28.39 4.3 29.17 4.5 30H12.76L9.89 23.3L13.59 21.72L17.14 30.01H23.74C23.99 29.17 24.34 28.37 24.8 27.65L17.99 20.84L20.83 17.99L27.64 24.8C28.36 24.34 29.16 24 30 23.74V17.14L21.71 13.59L23.29 9.89L29.99 12.76V4.5C29.16 4.31 28.37 4.02 27.7 3.63L23.41 1.18C20.68 -0.38 17.77 0.82 16.94 3.86L15.64 8.62C14.81 11.65 11.65 14.82 8.62 15.65L3.86 16.95C0.82 17.78 -0.38 20.69 1.18 23.42L3.63 27.71Z"
        fill="white"></path>
      <path
        d="M61.72 37.65C61.33 36.98 61.05 36.2 60.85 35.37H52.6L55.47 42.07L51.77 43.65L48.22 35.36H41.62C41.37 36.2 41.03 37 40.56 37.72L47.36 44.52L44.51 47.36L37.71 40.56C36.98 41.02 36.19 41.36 35.34 41.62V48.21L43.63 51.76L42.05 55.46L35.34 52.59V60.85C36.17 61.05 36.95 61.34 37.62 61.72L41.91 64.17C44.64 65.73 47.56 64.52 48.38 61.48L49.68 56.72C50.51 53.68 53.67 50.52 56.71 49.69L61.47 48.4C64.51 47.57 65.71 44.65 64.15 41.92L61.69 37.63L61.72 37.65Z"
        fill="white"></path>
      <path
        d="M30 52.61L23.3 55.48L21.72 51.78L30.01 48.23V41.63C29.17 41.38 28.37 41.04 27.65 40.57L20.85 47.38L18.01 44.53L24.81 37.73C24.35 37.01 24 36.21 23.75 35.37H17.15L13.6 43.66L9.9 42.08L12.77 35.38H4.49C4.29 36.21 4.01 36.99 3.62 37.67L1.17 41.95C-0.389999 44.68 0.820001 47.6 3.85 48.43L8.61 49.72C11.64 50.55 14.81 53.71 15.63 56.75L16.93 61.5C17.76 64.54 20.67 65.74 23.4 64.19L27.69 61.74C28.36 61.35 29.15 61.07 29.98 60.87V52.62L30 52.61Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_1_46">
        <rect width="65" height="65" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <span>9</span>
</div>
