<div
  data-day="15"
  class="col-span-2 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <svg
    width="65"
    height="65"
    viewBox="0 0 65 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon me-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <path
      d="M64.87 26.14L62.03 23.3L55.33 30H50.32L53.78 23.95L47.06 22.12L50.6 18.58H60.08V14.56H50.83V5.3H46.81V14.78L43.27 18.32L41.44 11.6L35.39 15.06V10.05L42.1 3.35L39.26 0.51L32.72 7.05L26.14 0.5L23.3 3.34L30 10.04V15.05L23.95 11.59L22.12 18.32L18.58 14.78V5.3H14.56V14.55H5.3V18.57H14.78L18.32 22.11L11.6 23.94L15.06 29.99H10.05L3.34 23.29L0.5 26.14L7.04 32.68L0.5 39.22L3.34 42.06L10.04 35.35H15.05L11.59 41.4L18.31 43.23L14.77 46.77H5.3V50.79H14.55V60.04H18.57V50.56L22.11 47.01L23.94 53.73L29.99 50.27V55.28L23.29 61.99L26.13 64.83L32.67 58.29L39.21 64.83L42.05 61.99L35.34 55.29V50.28L41.39 53.74L43.22 47.02L46.76 50.56V60.04H50.78V50.79H60.03V46.77H50.55L47.01 43.23L53.74 41.4L50.28 35.35H55.29L61.99 42.06L64.83 39.22L58.29 32.68L64.83 26.14H64.87ZM32.69 40.73C28.25 40.73 24.64 37.13 24.64 32.68C24.64 28.23 28.25 24.63 32.69 24.63C37.13 24.63 40.74 28.23 40.74 32.68C40.74 37.13 37.14 40.73 32.69 40.73Z"
      fill="white"></path>
  </svg>

  <span>15</span>
</div>
