<div
  data-day="24"
  class="col-span-3 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <svg
    width="65"
    height="65"
    viewBox="0 0 65 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon me-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <g clip-path="url(#clip0_1_52)">
      <path
        d="M26.28 22.49C27.41 21.78 28.66 21.24 30 20.94V4.8L19.35 0.5L14.87 11.07L26.29 22.49H26.28ZM22.42 7.91C23.45 7.48 24.62 7.97 25.05 9C25.47 10.03 24.99 11.2 23.96 11.63C22.94 12.06 21.76 11.57 21.33 10.54C20.91 9.51 21.39 8.34 22.42 7.91Z"
        fill="white"></path>
      <path
        d="M35.36 20.94C36.7 21.25 37.95 21.78 39.08 22.49L50.49 11.08L46.01 0.5L35.36 4.8V20.93V20.94ZM42.94 7.91C43.97 8.34 44.46 9.52 44.03 10.54C43.61 11.57 42.43 12.05 41.4 11.63C40.37 11.2 39.89 10.03 40.31 9C40.74 7.97 41.91 7.49 42.94 7.91Z"
        fill="white"></path>
      <path
        d="M54.29 14.87L42.88 26.28C43.59 27.41 44.12 28.66 44.43 30H60.56L64.86 19.35L54.29 14.86V14.87ZM56.37 25.05C55.34 25.48 54.17 24.99 53.74 23.96C53.32 22.93 53.8 21.76 54.83 21.33C55.86 20.9 57.03 21.39 57.46 22.41C57.88 23.44 57.4 24.62 56.37 25.04V25.05Z"
        fill="white"></path>
      <path
        d="M39.09 42.88C37.96 43.59 36.71 44.12 35.37 44.43V60.57L46.02 64.87L50.51 54.3L39.1 42.89L39.09 42.88ZM42.95 57.46C41.92 57.88 40.75 57.4 40.32 56.37C39.9 55.34 40.38 54.17 41.41 53.74C42.44 53.32 43.61 53.8 44.04 54.83C44.47 55.86 43.98 57.03 42.95 57.46Z"
        fill="white"></path>
      <path
        d="M44.43 35.36C44.12 36.7 43.59 37.95 42.88 39.08L54.29 50.5L64.86 46.01L60.56 35.36H44.43ZM54.83 44.03C53.8 43.61 53.32 42.43 53.74 41.4C54.17 40.37 55.34 39.89 56.37 40.31C57.4 40.73 57.88 41.91 57.46 42.94C57.04 43.97 55.86 44.46 54.83 44.03Z"
        fill="white"></path>
      <path
        d="M20.94 30C21.24 28.66 21.78 27.41 22.49 26.28L11.07 14.86L0.5 19.35L4.8 30H20.93H20.94ZM10.54 21.33C11.57 21.76 12.05 22.93 11.63 23.96C11.21 24.98 10.03 25.47 9 25.05C7.97 24.63 7.49 23.45 7.91 22.42C8.33 21.39 9.51 20.91 10.54 21.33Z"
        fill="white"></path>
      <path
        d="M30 44.43C28.66 44.12 27.41 43.59 26.28 42.88L14.86 54.3L19.35 64.87L30 60.57V44.43ZM22.42 57.46C21.39 57.04 20.91 55.86 21.33 54.83C21.75 53.8 22.93 53.32 23.96 53.74C24.99 54.16 25.47 55.34 25.05 56.37C24.62 57.4 23.45 57.88 22.42 57.46Z"
        fill="white"></path>
      <path
        d="M22.49 39.08C21.78 37.95 21.24 36.7 20.94 35.36H4.8L0.5 46.01L11.07 50.5L22.48 39.08H22.49ZM7.91 42.94C7.48 41.92 7.97 40.74 9 40.31C10.03 39.88 11.2 40.37 11.63 41.4C12.05 42.42 11.57 43.6 10.54 44.03C9.51 44.46 8.34 43.97 7.91 42.94Z"
        fill="white"></path>
      <path
        d="M39.39 32.68C39.39 36.39 36.39 39.39 32.69 39.39C28.99 39.39 25.98 36.39 25.98 32.68C25.98 28.97 28.99 25.98 32.69 25.98C36.39 25.98 39.39 28.98 39.39 32.68Z"
        fill="white"></path>
    </g>
    <defs>
      <clipPath id="clip0_1_52">
        <rect width="65" height="65" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>

  <svg
    width="65"
    height="65"
    viewBox="0 0 65 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon me-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <path
      d="M59.5 27.32C57.52 27.32 55.81 28.4 54.88 30H50.31L53.77 23.95L47.04 22.12L50.28 18.89C52.07 19.36 54.04 18.92 55.44 17.52C57.54 15.42 57.54 12.03 55.44 9.93C53.34 7.84 49.95 7.84 47.85 9.93C46.45 11.33 46.01 13.31 46.48 15.09L43.24 18.33L41.41 11.6L35.36 15.06V10.48C36.96 9.55 38.04 7.84 38.04 5.86C38.04 2.9 35.64 0.5 32.68 0.5C29.72 0.5 27.32 2.9 27.32 5.86C27.32 7.84 28.4 9.55 30 10.48V15.06L23.95 11.6L22.12 18.33L18.89 15.09C19.36 13.3 18.92 11.33 17.52 9.93C15.42 7.84 12.03 7.84 9.93 9.93C7.84 12.03 7.84 15.42 9.93 17.52C11.33 18.92 13.31 19.36 15.09 18.89L18.33 22.12L11.61 23.95L15.06 30H10.49C9.56 28.4 7.85 27.32 5.87 27.32C2.91 27.32 0.510002 29.72 0.510002 32.68C0.510002 35.64 2.91 38.04 5.87 38.04C7.85 38.04 9.56 36.96 10.49 35.36H15.06L11.61 41.41L18.33 43.24L15.09 46.48C13.3 46.01 11.33 46.45 9.93 47.85C7.84 49.94 7.84 53.34 9.93 55.43C12.03 57.53 15.42 57.53 17.52 55.43C18.92 54.03 19.36 52.05 18.89 50.27L22.13 47.04L23.96 53.76L30.01 50.3V54.88C28.41 55.81 27.33 57.52 27.33 59.5C27.33 62.46 29.73 64.86 32.69 64.86C35.65 64.86 38.05 62.46 38.05 59.5C38.05 57.52 36.97 55.81 35.37 54.88V50.3L41.42 53.76L43.25 47.04L46.49 50.27C46.02 52.06 46.46 54.03 47.86 55.43C49.95 57.53 53.35 57.53 55.45 55.43C57.55 53.33 57.55 49.94 55.45 47.85C54.05 46.45 52.07 46.01 50.28 46.48L47.04 43.24L53.77 41.41L50.31 35.36H54.88C55.81 36.96 57.52 38.04 59.5 38.04C62.46 38.04 64.86 35.64 64.86 32.68C64.86 29.72 62.46 27.32 59.5 27.32ZM43.13 38.72L34.62 36.04L32.68 44.75L30.74 36.04L22.23 38.72L28.81 32.69L22.23 26.66L30.74 29.34L32.68 20.63L34.62 29.34L43.13 26.66L36.55 32.69L43.13 38.72Z"
      fill="white"></path>
  </svg>

  <span>24</span>
</div>
