<div
  data-day="23"
  class="col-span-2 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <svg
    width="60"
    height="65"
    viewBox="0 0 60 65"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon me-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <path
      d="M43.56 32.68L51.24 30.26L59.5 17.75L58.16 15.42L43.19 16.32L36.05 22.87L38.05 13.9L31.34 0.5H28.66L21.95 13.91L23.94 22.88L16.8 16.33L1.84 15.43L0.5 17.76L8.76 30.27L16.45 32.69L8.76 35.11L0.5 47.61L1.84 49.93L16.8 49.03L23.94 42.48L21.95 51.45L28.66 64.86H31.34L38.04 51.45L36.04 42.48L43.18 49.03L58.15 49.93L59.49 47.61L51.23 35.1L43.55 32.68H43.56ZM30 38.04C27.04 38.04 24.64 35.64 24.64 32.68C24.64 29.72 27.04 27.32 30 27.32C32.96 27.32 35.36 29.72 35.36 32.68C35.36 35.64 32.96 38.04 30 38.04Z"
      fill="white"></path>
  </svg>

  <span>23</span>
</div>
