<div
  data-day="20"
  class="col-span-2 row-span-2 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <span>20</span>

  <svg
    width="248"
    height="248"
    viewBox="0 0 248 248"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-bg absolute -z-10 top-0 left-0 w-full h-full object-cover opacity-25 p-2 transition"
  >
    <path
      d="M242.91 120.67L218.34 96.1L154.63 111.63L210.66 77.58V38.65L165.56 30.1L177.26 54.39L166.64 62.05C165.5 61.56 164.23 61.31 162.87 61.31C157.47 61.31 153.12 65.69 153.12 71.06C153.12 76.43 157.5 80.81 162.87 80.81C168.24 80.81 172.62 76.43 172.62 71.06C172.62 70.75 172.59 70.44 172.59 70.13L189.94 57.6L183.24 43.68L200.56 46.95V71.89L132 113.59L152.37 30.09L127.77 5.52L124.22 1.97L120.67 5.52L96.1 30.09L111.63 93.8L77.58 37.77H38.65L30.1 82.87L54.39 71.17L62.05 81.79C61.56 82.93 61.31 84.2 61.31 85.56C61.31 90.96 65.69 95.31 71.06 95.31C76.43 95.31 80.81 90.93 80.81 85.56C80.81 80.19 76.43 75.81 71.06 75.81C70.75 75.81 70.44 75.84 70.13 75.84L57.6 58.49L43.68 65.19L46.95 47.87H71.89L113.59 116.49L30.09 96.12L5.52 120.66L1.97 124.21L5.52 127.76L30.09 152.33L93.81 136.8L37.78 170.85V209.78L82.88 218.33L71.18 194.04L81.8 186.38C82.94 186.87 84.21 187.12 85.57 187.12C90.97 187.12 95.32 182.74 95.32 177.37C95.32 172 90.94 167.58 85.53 167.58C80.12 167.58 75.78 171.96 75.78 177.33C75.78 177.64 75.81 177.95 75.81 178.26L58.46 190.82L65.16 204.74L47.84 201.47V176.53L116.46 134.83L96.09 218.33L120.66 242.9L124.21 246.45L127.76 242.9L152.33 218.33L136.8 154.61L170.85 210.64H209.78L218.33 165.54L194.04 177.24L186.38 166.62C186.87 165.48 187.12 164.21 187.12 162.85C187.12 157.45 182.74 153.1 177.37 153.1C172 153.1 167.62 157.48 167.62 162.85C167.62 168.22 172 172.6 177.37 172.6C177.68 172.6 177.99 172.57 178.3 172.57L190.83 189.92L204.75 183.22L201.48 200.54H176.54L134.83 131.98L218.33 152.35L242.9 127.78L246.45 124.23L242.9 120.65L242.91 120.67ZM119.19 21.24V42.82C119.19 45.6 121.44 47.85 124.22 47.85C127 47.85 129.25 45.6 129.25 42.82V21.24L141.23 33.22L124.22 102.99L107.21 33.22L119.19 21.24ZM21.24 129.25H42.82C45.6 129.25 47.85 127 47.85 124.22C47.85 121.44 45.6 119.19 42.82 119.19H21.24L33.22 107.21L102.99 124.22L33.22 141.23L21.24 129.25ZM129.25 227.2V205.62C129.25 202.84 127 200.59 124.22 200.59C121.44 200.59 119.19 202.84 119.19 205.62V227.2L107.21 215.22L124.22 145.45L141.23 215.22L129.25 227.2ZM215.22 141.23L145.45 124.22L215.22 107.21L227.2 119.19H205.62C202.84 119.19 200.59 121.44 200.59 124.22C200.59 127 202.84 129.25 205.62 129.25H227.2L215.22 141.23Z"
      stroke="white"
      stroke-width="2.08"
      stroke-miterlimit="10"></path>
  </svg>
</div>
