<div
  data-day="21"
  class="col-start-5 row-start-6 row-span-2 flex-col relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  <svg
    width="62"
    height="62"
    viewBox="0 0 62 62"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="star-icon mb-auto w-10 h-10 opacity-50 transition shrink-0"
  >
    <path
      d="M61.46 20.82L48.76 28.44H44.95L41.03 24.52L45.35 20.2L59.72 16.61L55.53 12.42L47.54 14.42L49.53 6.43L45.34 2.24L41.75 16.61L37.43 20.93L33.51 17.01V13.2L41.14 0.5H35.22L30.98 7.56L26.75 0.5H20.83L28.45 13.2V17.01L24.53 20.93L20.21 16.61L16.62 2.24L12.43 6.43L14.43 14.42L6.44 12.42L2.25 16.61L16.62 20.2L20.94 24.52L17.02 28.44H13.21L0.5 20.82V26.74L7.56 30.98L0.5 35.22V41.14L13.2 33.52H17.02L20.94 37.44L16.62 41.76L2.25 45.35L6.44 49.54L14.43 47.55L12.43 55.54L16.62 59.73L20.21 45.36L24.53 41.04L28.45 44.96V48.77L20.83 61.47H26.75L30.99 54.41L35.23 61.47H41.15L33.53 48.77V44.96L37.45 41.04L41.77 45.36L45.36 59.73L49.55 55.54L47.56 47.55L55.55 49.54L59.74 45.35L45.37 41.76L41.05 37.44L44.97 33.52H48.78L61.48 41.14V35.22L54.42 30.98L61.48 26.74V20.82H61.46ZM30.98 36.06C28.18 36.06 25.9 33.79 25.9 30.98C25.9 28.17 28.18 25.9 30.98 25.9C33.78 25.9 36.06 28.17 36.06 30.98C36.06 33.79 33.79 36.06 30.98 36.06Z"
      fill="white"></path>
  </svg>

  <span>21</span>
</div>
