<svg
  width="427"
  height="439"
  viewBox="0 0 427 439"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="w-[90%] h-[90dvw] lg:h-[90dvh] -mb-5 md:-mb-10"
>
  <path
    d="M213.4 426C330.462 426 425.36 331.102 425.36 214.04C425.36 96.9777 330.462 2.08002 213.4 2.08002C96.3377 2.08002 1.43994 96.9777 1.43994 214.04C1.43994 331.102 96.3377 426 213.4 426Z"
    stroke="#bfdbfe"
    stroke-width="2.64"
    stroke-miterlimit="10"></path>
  <path
    d="M213.64 438.25C268 438.24 351.82 435.97 351.82 435.97C351.82 435.97 348.28 419.76 346.79 410.33C344.37 395.11 287.21 382.47 213.64 382.41C213.56 382.41 213.48 382.41 213.4 382.41C213.32 382.41 213.24 382.41 213.16 382.41C139.59 382.47 82.43 395.11 80.01 410.33C78.51 419.76 74.98 435.97 74.98 435.97C74.98 435.97 158.8 438.24 213.16 438.25C213.24 438.25 213.32 438.25 213.4 438.25C213.48 438.25 213.56 438.25 213.64 438.25Z"
    fill="#bfdbfe"></path>
</svg>

<div
  class="absolute -z-40 -bottom-5 md:-bottom-10 left-1/2 -translate-x-1/2 rounded-full w-auto h-[90dvw] lg:h-[90dvh] aspect-square backdrop-blur-3xl"
>
</div>

<style>
  svg {
    -webkit-filter: drop-shadow(0 0 10px #bfdbfe);
    filter: drop-shadow(0 0 10px #bfdbfe);
  }
</style>
