---
import CATORCE from "../components/days/CATORCE.astro";
import CINCO from "../components/days/CINCO.astro";
import DIECIOCHO from "../components/days/DIECIOCHO.astro";
import DIECISIETE from "../components/days/DIECISIETE.astro";
import DOCE from "../components/days/DOCE.astro";
import DOS from "../components/days/DOS.astro";
import NUEVE from "../components/days/NUEVE.astro";
import OCHO from "../components/days/OCHO.astro";
import ONCE from "../components/days/ONCE.astro";
import QUINCE from "../components/days/QUINCE.astro";
import SEIS from "../components/days/SEIS.astro";
import TRES from "../components/days/TRES.astro";
import VEINTE from "../components/days/VEINTE.astro";
import VEINTICUATRO from "../components/days/VEINTICUATRO.astro";
import VEINTIDOS from "../components/days/VEINTIDOS.astro";
import VEINTITRES from "../components/days/VEINTITRES.astro";
import VEINTIUNO from "../components/days/VEINTIUNO.astro";
---

<div
  data-day="1"
  class="relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  1
</div>
<DOS />
<TRES />
<div
  data-day="4"
  class="col-start-4 row-start-2 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  4
</div>
<CINCO />
<SEIS />
<div
  data-day="7"
  class="col-start-2 row-start-3 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  7
</div>
<OCHO />
<NUEVE />
<div
  data-day="10"
  class="col-start-5 row-start-4 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  10
</div>
<ONCE />
<DOCE />
<div
  data-day="13"
  class="relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  13
</div>
<CATORCE />
<QUINCE />
<div
  data-day="16"
  class="col-start-4 row-start-6 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  16
</div>
<DIECISIETE />
<DIECIOCHO />
<div
  data-day="19"
  class="col-start-2 row-start-7 relative bg-blue-100/50 border-2 border-blue-100/50 backdrop-blur rounded-lg p-5 flex items-center justify-center text-xl transition hover:scale-105 font-serif cursor-pointer"
>
  19
</div>
<VEINTE />
<VEINTIUNO />
<VEINTIDOS />
<VEINTITRES />
<VEINTICUATRO />
