---
import Bol from "../components/Bol.astro";
import Logo from "../components/Logo.astro";
---

<div
  class="relative overflow-hidden w-full h-full border-2 border-blue-100 rounded flex flex-col items-center justify-between pt-10"
>
  <Logo />
  <div
    class="absolute z-50 bottom-1/2 sm:bottom-[20%] md:bottom-[25%] left-1/2 -translate-x-1/2 flex flex-col items-center justify-center"
  >
    <h1 class="font-serif text-6xl sm:text-9xl">Advent</h1>
    <p class="mb-4">Calendario de adviento</p>
    <button
      id="in"
      class="border-2 border-blue-100/50 backdrop-blur rounded py-1 px-2 text-xl transition hover:scale-105"
      >Apúntate</button
    >
  </div>
  <Bol />
</div>
