---
import "../lib/css/form.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <script
      is:inline
      charset="utf-8"
      type="text/javascript"
      src="//js.hsforms.net/forms/embed/v2.js"></script>
  </head>
  <body
    class="bg-blue-950 text-white font-sans overflow-x-hidden overflow-y-scroll"
  >
    <slot />
    <script src="../lib/js/main.js"></script>
  </body>
</html>

<style is:global>
  .container {
    @apply py-10;
  }

  .calendar > div {
    box-shadow: 0 0 20px #bfdbfe80;
  }

  .calendar > div:has(.star-bg) {
    @apply md:text-8xl;
  }

  .calendar > div:has(.star-bg):hover .star-bg {
    @apply rotate-90;
  }

  .calendar > div:has(.star-icon) {
    @apply md:text-4xl;
  }

  .calendar > div:has(.star-icon):hover .star-icon {
    @apply rotate-45;
  }
</style>
